.baz{
    color:blue;
   font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;

}
.foo{
    color:gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}